<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Photo Recognition for Saving Water</h1>
            <hr>
            <p>Aguamenti Charm. Pronunciation: /ˌɑːɡwəˈmɛnti/ ah-gwə-men-tee. Produes a jet of water from the caster's wand. Break down your surroundings to save water.</p>
            <a href="https://www.Govmind.org/datagalleries" class="btn btn-primary btn-xl page-scroll">Datasets</a>
        </div>
    </div>
</header>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">food choices matter: image2gallons.</h2>
                <hr class="light">
                <p class="text-faded">This demo ties food images to water use. It is "trained" on food images from ImageNet - the largest labeled image database in the world at 14 million images. To use it, submit pictures of food - bananas, hamburgers, produce, etc. - and hit classify.</p>
                </div>
                                            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= render 'convnetimages/result_form', new_convnetimage_result: @second_convnetimage_result, convnetimage: @second_convnetimage,
                    target_selector: '.js-convnetimage-result-2' %>
                            </div>
                                    <div class="js-convnetimage-result-2">
                                        <div class="col-md-6 text-center">
                                            <h4 class="section-heading">Image</h4>
                                            <img src="fhwas.jpg" class="img-responsive" alt="air feed">
                                        </div>
                                        <div class="col-md-6 col-md-4 text-center">
                                            <h4 class="section-heading">Top 5 Predicted Classification</h4>
                                            <table class="table">
                                                    <thead>
                                              <tr>
                                                <th>Prediction</th>
                                                <th>Probability</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Almond - 1 gal/almond - half min shower</td>
                                                <td>81%</td>
                                                </tr>
                                                <tr>
                                                <td>Olive - 522 gal/lb - 249 min shower</td>
                                                <td>3%</td>
                                              </tr>
                                              <tr>
                                                <td>Banana - 102 gal/lb - 49 min shower</td>
                                                <td>2%</td>
                                              </tr>
                                              <tr>
                                                <td>Orange - 13.2 gal/orange - 6 min shower</td>
                                                <td>1%</td>
                                              </tr>
                                              <tr>
                                                <td>Peach - 142 gal/lb - 68 min shower</td>
                                                <td>1%</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
        </div>
    </div>
</aside>

<section id="servicess">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>turf and lawn analysis at scale</h1>
            <hr>
            <p>There are over 1.2 million front lawns in the City of Los Angeles. What if we were able learn everything about them? at lightning fast speed.</p>
            <a href="https://www.Govmind.org/datagalleries" class="btn btn-primary btn-xl page-scroll">Datasets</a>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Landscaping Classifier</h2>
                <hr class="light">
                <p class="text-faded">This classifier detects and categorizes lawn health using Google Street View. This allows water agencies to monitor outdoor water usage at lightning speed and scale that would otherwise be impossible with traditional methods. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= render 'convnetimages/result_form', new_convnetimage_result: @first_convnetimage_result, convnetimage: @first_convnetimage,
                    target_selector: '.js-convnetimage-result-1' %>
                            </div>
                                    <div class="js-convnetimage-result-1">
                                        <div class="col-md-6 text-center">
                                            <h4 class="section-heading">Image</h4>
                                            <img src="lawn.jpg" class="img-responsive" alt="air feed">
                                        </div>
                                        <div class="col-md-6 col-md-4 text-center">
                                            <h4 class="section-heading">Top 4 Predicted Classification</h4>
                                            <table class="table">
                                                    <thead>
                                              <tr>
                                                <th>Prediction</th>
                                                <th>Probability</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Green - healthy</td>
                                                <td>87.3%</td>
                                                </tr>
                                                <tr>
                                                <td>Dying</td>
                                                <td>6.7%</td>
                                              </tr>
                                              <tr>
                                                <td>Drought tolerant detected</td>
                                                <td>4.0%</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
        </div>
    </div>
</aside>

<section id="services3">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>USING SATELLITES IN SPACE TO TRACK WATER</h1>
            <hr>
            <a href="https://www.Govmind.org/datagalleries" class="btn btn-primary btn-xl page-scroll">Datasets</a>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Big Ag</h2>
                <hr class="light">
                <p class="text-faded">This demo classifies specific features on aerial orthoimagery acquired from the United States Geologic Survey (USGS) and Landsat 8 satellite. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= render 'convnetimages/result_form', new_convnetimage_result: @third_convnetimage_result, convnetimage: @third_convnetimage,
                    target_selector: '.js-convnetimage-result-3' %>
                            </div>
                                    <div class="js-convnetimage-result-3">
                                        <div class="col-md-6 text-center">
                                            <h4 class="section-heading">Image</h4>
                                            <img src="agriculture.jpg" class="img-responsive" alt="air feed">
                                        </div>
                                        <div class="col-md-6 col-md-4 text-center">
                                            <h4 class="section-heading">Top 5 Predicted Classification</h4>
                                            <table class="table">
                                                    <thead>
                                              <tr>
                                                <th>Prediction</th>
                                                <th>Probability</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Heavy Growth - Small Lots</td>
                                                <td>99%</td>
                                                </tr>
                                                <tr>
                                                <td>Little Growth - Small Lots</td>
                                                <td>less than 1%</td>
                                              </tr>
                                              <tr>
                                                <td>Little Growth - Big Lots</td>
                                                <td>less than 1%</td>
                                              </tr>
                                              <tr>
                                                <td>Heavy Growth - Big Lots</td>
                                                <td>less than 1%</td>
                                              </tr>
                                              <tr>
                                                <td>All dirt or dying - no water used</td>
                                                <td>0.4%</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
        </div>
    </div>
</aside>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute</h2>
                <hr class="primary">
                <p>Give us a call or send us an email if you would like access and/or the ability to host your model on Govmind.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>818-644-0498</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p><a href="mailto:your-email@your-domain.com">Govmind@gmail.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <i class="fa fa-map-signs fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                 <p><a href="/pages/legal">Privacy and Website Policies</a></p>
    </div>
</aside>