<script src="//fast.eager.io/gX88lKai9D.js"></script>

<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
  <h2>our purpose:</h2>
  <h1>build free artificial intelligence for the public sector</p>
  <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">sign up</a></p>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="pso18.gif" alt="air feed">
      <div class="caption">
        <h3> Deep Learning with ConvNets </h3>
        <p>The example above uses over 50K images from 7 different cities and 50 different pipe types to classify pipeline damage. In February 2015, <a href="http://yann.lecun.com/exdb/publis/pdf/lecun-98.pdf">ConvNets</a> became the first algorithm to beat the human error rate of 5.1% at the ImageNet Classification Challenge. It is the breakthrough algorithm of the decade. </p>
        <p><a href="http://www.theplatform.net/2015/08/10/google-research-boosts-deep-learning-detection-engine-with-gpus/" class="btn btn-primary" role="button">More</a> <a href="/users/sign_up" class="btn btn-default" role="button">Try it</a></p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="thumbnail">
      <img src="pwh3k.gif" alt="oik7 feed">
      <div class="caption">
        <h3> Natural Language Processing </h3>
        <p> The example above uses over 53,000 resident complaints in the City of Chicago and creates a text classifier to quickly and more accurately understand the complaint. Using the <a href="http://arxiv.org/pdf/1506.07285v1.pdf">Dynamic Memory Network (DMN)</a>, models now have the ability to store various facts internally, to access them later. </p>
        <p><a href="https://www.metamind.io/dmn" class="btn btn-primary" role="button">More</a> <a href="/users/sign_up" class="btn btn-default" role="button">Try it</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="pwiig.gif" alt="sidewalk feed">
      <div class="caption">
        <h3> Machine Learning </h3>
        <p>Machine learning explores the construction and study of algorithms that can learn from and make predictions on data. Categories include: supervised, semi-supervised, and unsupervised learning - which range from using a human teacher to no teaching at all.</p>
        <p><a href="http://techcrunch.com/2015/07/27/the-next-wave-of-enterprise-software-powered-by-machine-learning/#.8bdjsf:NEpo" class="btn btn-primary" role="button">More</a> <a href="/users/sign_up" class="btn btn-default" role="button">Try it</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="pwi60.gif" alt="air feed">
      <div class="caption">
        <h3>Unsupervised Learning with t-SNE</h3>
        <p>t-Distributed Stochastic Neighbor Embedding (t-SNE) is particularly well suited for categorizing things that are difficult to tell apart.</p>
        <p><a href="http://cs.stanford.edu/people/karpathy/cnnembed/" class="btn btn-primary" role="button">More</a> <a href="/users/sign_up" class="btn btn-default" role="button">Try it</a></p>
      </div>
    </div>
  </div>
</div>

</br>
</br>
