<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
  <h2>our purpose:</h2>
  <h1>build machines that predict things for government</p>
  <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">sign up</a></p>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="air feed">
      <div class="caption">
        <h3> Deep Learning with ConvNets </h3>
        <p>Image recognition is now at its peak because of one reason: <a href="http://yann.lecun.com/exdb/publis/pdf/lecun-98.pdf">convolutional networks</a>. In February 2015, ConvNets became the first algorithm to beat the human error rate of 5.1% at the ImageNet Classification Challenge. </p>
        <p><a href="http://www.theplatform.net/2015/08/10/google-research-boosts-deep-learning-detection-engine-with-gpus/" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="thumbnail">
      <img src="oik7.gif" alt="oik7 feed">
      <div class="caption">
        <h3> Natural Language Processing </h3>
        <p> Understanding the relationships between words is fundamental to language. Up until recently, memory and attention have not been widely used for NLP. Using the <a href="http://arxiv.org/pdf/1506.07285v1.pdf">Dynamic Memory Network (DMN)</a>, models now have the ability to store various facts internally, to access them later. </p>
        <p><a href="https://www.metamind.io/dmn" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="sidewalk feed">
      <div class="caption">
        <h3> Machine Learning </h3>
        <p>Machine learning explores the construction and study of algorithms that can learn from and make predictions on data. Categories include: supervised, semi-supervised, and unsupervised learning - which range from using a human teacher to no teaching at all.</p>
        <p><a href="http://techcrunch.com/2015/07/27/the-next-wave-of-enterprise-software-powered-by-machine-learning/#.8bdjsf:NEpo" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="air feed">
      <div class="caption">
        <h3>Supercharge a Sidewalk Maintenance Program</h3>
        <p>Raised sidewalk, broken curb, damaged utility box, sunken parkway, chipping curb pain. Zip your batch of images in and get answers out. </p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
</div>

</br>
</br>
