<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Free Image and Language Recognition for Municipal Agencies</h1>
            <hr>
            <p>Our mission is pretty simple: make it easier for public employees to solve small tasks using shared public network of images and words.</p>
            <a href="https://www.govmind.org/convnetimages" class="btn btn-primary btn-xl page-scroll">Demo</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vision and language >> tabular data</h2>
                <hr class="light">
                <p class="text-faded">Image, video, and text data tend to provide better inight than tabular data for a number of reasons - the biggest of all is that vision and language is universally understandable, excel sheets are not. There is an old saying: create a statistical model in excel, and no one else can use it; create it with image, and it belongs to everyone. </p>
                <a href="users/sign_up" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tools, Out of their Box</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary"></i>
                    <h3>Machine Learning</h3>
                    <p class="text-muted">Run predictive analytics on government data. Use another agency's data to help your decision-making.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-text wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Language Processing</h3>
                    <p class="text-muted">Help public agencies classify language into action. For example, submit a 311 complaint and recieve an action, urgency, and time to response</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-image wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Image Recognition</h3>
                    <p class="text-muted">Classify images into whatever category you want. For example, submit an image of a broken sidewalk and recieve severity, cause, and possible solutions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Open Data Gallery</h3>
                    <p class="text-muted">Access, reuse, and share the datasets for your own personal use projects and tasks.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="0Na2b2.gif" class="img-responsive" alt="air feed">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Recognition
                            </div>
                            <div class="project-name">
                                Trained on 20K images of damaged sidewalks in the Los Angeles Area
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="airqual.png" class="img-responsive"alt="air feed">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Trained on 11K hours of air quality data in Helsinki, Finland
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="sewer.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Recognition
                            </div>
                            <div class="project-name">
                                Trained on 44K images of sewer pipeline inspection video from 3 cities in LA County
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="complaint.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Language Processing
                            </div>
                            <div class="project-name">
                                Trained on 53K 3-1-1 complaints in the City of Chicago
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="drawing.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Recognition
                            </div>
                            <div class="project-name">
                                Trained on 4K Department of Transportation (DOT) standard plans from five states
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="traffic.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Trained on 79K records of traffic accidents in the State of Louisiana
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Higher levels of detail</h2>
                <hr class="light">
                <p class="text-faded">Image and language recognition has the potential to move beyond classifying simple objects or text. For example, detecting "aging pavement" from an image is quite doable. It's obvious. But, we can also drill down to finer nuance and tell the pavement is likely aging because "X" causes. </p>
                <a href="users/sign_up" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute</h2>
                <hr class="primary">
                <p>Give us a call or send us an email if you would like access and/or the ability to host your model on GovMind.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>818-644-0498</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p><a href="mailto:your-email@your-domain.com">govmind@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>