<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script src="//fast.eager.io/gX88lKai9D.js"></script>

<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
  <h2>our purpose:</h2>
  <h1>build machines that predict things for government</p>
  <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">sign up</a></p>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="air feed">
      <div class="caption">
        <h3> Deep Learning with ConvNets </h3>
        <p>Image recognition is now at its peak because of one reason: <a href="http://yann.lecun.com/exdb/publis/pdf/lecun-98.pdf">convolutional networks</a>. In February 2015, ConvNets became the first algorithm to beat the human error rate of 5.1% at the ImageNet Classification Challenge. </p>
        <p><a href="http://www.theplatform.net/2015/08/10/google-research-boosts-deep-learning-detection-engine-with-gpus/" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="thumbnail">
      <img src="oik7.gif" alt="oik7 feed">
      <div class="caption">
        <h3> Natural Language Processing </h3>
        <p> Understanding the relationships between words is fundamental to language. Up until recently, memory and attention have not been widely used for NLP. Using the <a href="http://arxiv.org/pdf/1506.07285v1.pdf">Dynamic Memory Network (DMN)</a>, models now have the ability to store various facts internally, to access them later. </p>
        <p><a href="https://www.metamind.io/dmn" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="sidewalk feed">
      <div class="caption">
        <h3> Machine Learning </h3>
        <p>Machine learning explores the construction and study of algorithms that can learn from and make predictions on data. Categories include: supervised, semi-supervised, and unsupervised learning - which range from using a human teacher to no teaching at all.</p>
        <p><a href="http://techcrunch.com/2015/07/27/the-next-wave-of-enterprise-software-powered-by-machine-learning/#.8bdjsf:NEpo" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="animation.gif" alt="air feed">
      <div class="caption">
        <h3>Unsupervised Learning with t-SNE</h3>
        <p>t-Distributed Stochastic Neighbor Embedding (t-SNE) is particularly well suited for categorizing things that are difficult to tell apart.</p>
        <p><a href="http://cs.stanford.edu/people/karpathy/cnnembed/" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
</div>

</br>
</br>
