<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
  <h2>our purpose:</h2>
  <h1>build machines that predict things for government</p>
  <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">sign up</a></p>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="air feed">
      <div class="caption">
        <h3>Classify millions of tweets on important legislation </h3>
        <p>Input the legislation name or bill number and measure how the internet views it.</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="thumbnail">
      <img src="oik7.gif" alt="oik7 feed">
      <div class="caption">
        <h3>Contextualize Street Plans</h3>
        <p>Input a batch of construction drawing images and get better analysis on. Take snapshots of these views and get a relative estimate of how many utilities are in the public right of way. </p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="sidewalk feed">
      <div class="caption">
        <h3>Quality Check on any pipeline inspection video in less than 1 minute</h3>
        <p>Acquiring and storing pipeline inspection video is cheap. Getting people to view this information and write stuff at their desk is not.</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="air feed">
      <div class="caption">
        <h3>Supercharge a Sidewalk Maintenance Program</h3>
        <p>Raised sidewalk, broken curb, damaged utility box, sunken parkway, chipping curb pain. Zip your batch of images in and get answers out. </p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
</div>

</br>
</br>
