<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Free Image and Language Recognition for Municipal Government</h1>
            <hr>
            <p>Here you will find the public sector's first A.I. brought to life by the world's largest open network of government images and words.</p>
            <a href="https://www.govmind.org/datagalleries" class="btn btn-primary btn-xl page-scroll">Datasets</a>
        </div>
    </div>
</header>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Try the Demo</h2>
                <hr class="light">
                <p class="text-faded">This demo uses 3K standard drawings from the Department of Transportation (DOT) in 13 states. Cross sections, traffic control, plan and profiles, details - give us plans, we give you answers. </p>
                </div>
                    <div class="js-convnetimage-result">
                    </div>
                        <br>
                        <%= render 'convnetimages/result_form', new_convnetimage_result: @new_convnetimage_result, convnetimage: @convnetimage %>
                </div>
            </div>
        </div>
    </div>
</aside>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">browse our reach - we got you covered</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=consumer">
                        <i class="fa fa-4x fa-shopping-cart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Consumer</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=energy">
                        <i class="fa fa-4x fa-sun-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Energy</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=publicsafety">
                        <i class="fa fa-4x fa-gavel wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Public Safety</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=publicworks">
                        <i class="fa fa-4x fa-trash wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        <h3>Public Works</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=publichealth">
                        <i class="fa fa-4x fa-plus-square wow bounceIn text-primary" data-wow-delay=".6s"></i>
                        <h3>Public Health</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=politics">
                        <i class="fa fa-4x fa-flag wow bounceIn text-primary" data-wow-delay=".7s"></i>
                        <h3>Politics</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=socialservices">
                        <i class="fa fa-4x fa-user-plus wow bounceIn text-primary" data-wow-delay=".8s"></i>
                        <h3>Social Services</h3>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="/datagalleries?category=transportation">
                        <i class="fa fa-4x fa-car wow bounceIn text-primary" data-wow-delay=".9s"></i>
                        <h3>Transportation</h3>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Language Classifier</h2>
                <hr class="light">
                <p class="text-faded">This model uses over 173K 3-1-1 city services complaints from the City of Chicago. Complaints on trees, trash, potholes, or anything - give us a complaint, we give you the solution. </p>
    <form>
                    <div class="js-natlang-result">
                    </div>
                        <br>
                        <%= render 'natlangs/result_form', new_natlang_result: @new_natlang_result, natlang: @natlang %>
                </div>
    </div>
</aside>

    <aside class="bg-grey"
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Trending</h2>
                    <div class="row">
  <div class="border col-lg-3">@congnetimage_trend</div>
  <div class="border col-lg-3">.col-xs-3</div>
  <div class="border col-lg-3">.col-xs-3</div>
  <div class="border col-lg-3">.col-xs-3</div>
</div>
                    <hr class="primary">
                </div>
            </div>
        </div>
        </div>
    </bg>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute</h2>
                <hr class="primary">
                <p>Give us a call or send us an email if you would like access and/or the ability to host your model on GovMind.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>818-644-0498</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p><a href="mailto:your-email@your-domain.com">govmind@gmail.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <i class="fa fa-map-signs fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                 <p><a href="/pages/legal">Privacy and Website Policies</a></p>
    </div>
</section>