<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
  <h2>our purpose:</h2>
  <h1>build machines that predict things for government</p>
  <p><a class="btn btn-primary btn-lg" href="/pages/about" role="button">let's begin</a></p>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="air.jpeg" alt="air feed">
      <div class="caption">
        <h3>how the FAA can help predict (and maybe prevent) bird fatalaties</h3>
        <p>This dataset is an example. Text will be filled in eventually.</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
    <div class="col-md-3">
    <div class="thumbnail">
      <img src="education.jpeg" alt="education feed">
      <div class="caption">
        <h3>Black Carbon</h3>
        <p>Black carbon has traditionally not been measured in several smaller cities due expensive monitoring equipment. Estimate the production of black carbon in Helinski, Finland. </p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="sidewalk.jpeg" alt="sidewalk feed">
      <div class="caption">
        <h3>Animal Shelters</h3>
        <p>This dataset is an example. Text will be filled in eventually.</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
      <div class="col-md-3">
    <div class="thumbnail">
      <img src="education.jpeg" alt="education feed">
      <div class="caption">
        <h3>Consumer Protection</h3>
        <p>This dataset is an example. Text will be filled in eventually.</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a> <a href="#" class="btn btn-default" role="button">Data</a></p>
      </div>
    </div>
  </div>
</div>
