<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Free Image and Language Recognition for Municipal Government</h1>
            <hr>
            <p>Here you will find the public sector's first A.I. brought to life by world's largest open network of government images and words.</p>
            <a href="https://www.govmind.org/datagalleries" class="btn btn-primary btn-xl page-scroll">Fire</a>
        </div>
    </div>
</header>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Image Classifier</h2>
                <hr class="light">
                <p class="text-faded">The classifier uses 3K standard drawings from the Department of Transportation (DOT) in 13 states. Cross sections, traffic control, plan and profiles, details - give us plans, we give you answers. </p>
                </div>
                  <div class="col-md-6 text-center">
                    <h4 class="section-heading">Image</h4>
            <img src="fhwa.jpg" class="img-responsive" alt="air feed">
</div>
<div class="col-md-6 col-md-4 text-center">
    <h4 class="section-heading">Top 5 Predicted Classification</h4>
    <table class="table table-hover">
            <thead>
      <tr>
        <th>Prediction</th>
        <th>Probability</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cross Section</td>
        <td>87.3%</td>
        </tr>
        <tr>
        <td>Plan</td>
        <td>6.7%</td>
      </tr>
      <tr>
        <td>Plan and Profile</td>
        <td>4.0%</td>
      </tr>
      <tr>
        <td>Traffic Control</td>
        <td>0.6%</td>
      </tr>
      <tr>
        <td>Detail</td>
        <td>0.4%</td>
      </tr>
    </tbody>
        </table>
          <div class="col-xs-4 col-md-4 pull-right">
<br>
<span class="btn btn-danger btn-file">
    Upload Image <input type="file">
</span>

</div>
    </div>
    </div>

            </div>
        </div>
    </div>
</aside>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Browse our reach - we got you covered</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-shopping-cart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Consumer</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-sun-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Energy</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-gavel wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Public Safety</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-trash wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        <h3>Public Works</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-plus-square wow bounceIn text-primary" data-wow-delay=".6s"></i>
                        <h3>Public Health</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flag wow bounceIn text-primary" data-wow-delay=".7s"></i>
                        <h3>Politics</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-user-plus wow bounceIn text-primary" data-wow-delay=".8s"></i>
                        <h3>Social Services</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-car wow bounceIn text-primary" data-wow-delay=".9s"></i>
                        <h3>Transportation</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

<aside class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Language Classifier</h2>
                <hr class="light">
                <p class="text-faded">This model uses over 173K 3-1-1 city services complaints from the City of Chicago. Complaints on trees, trash, potholes, or anything - give us a complaint, we give you the solution. </p>
    <form>
    <div class="form-group">
    <label for="exampleInputEmail1">3-1-1 Complaint</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="something in the gutter a few houses down from by driveway is causing flooding in the street when it rains">
  </div>

    <%= submit_tag 'fire', class: "btn btn-danger" %>
  </div>
            </div>
        </div>
    </div>
</aside>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="0Na2b2.gif" class="img-responsive" alt="air feed">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Recognition
                            </div>
                            <div class="project-name">
                                Trained on 20K images of damaged sidewalks in the Los Angeles Area
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="airqual.png" class="img-responsive"alt="air feed">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Trained on 11K hours of air quality data in Helsinki, Finland
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="sewer.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Recognition
                            </div>
                            <div class="project-name">
                                Trained on 44K images of sewer pipeline inspection video from 3 cities in LA County
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="complaint.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Language Processing
                            </div>
                            <div class="project-name">
                                Trained on 53K 3-1-1 complaints in the City of Chicago
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="drawing.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Recognition
                            </div>
                            <div class="project-name">
                                Trained on 4K Department of Transportation (DOT) standard plans from five states
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="traffic.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Trained on 79K records of traffic accidents in the State of Louisiana
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute</h2>
                <hr class="primary">
                <p>Give us a call or send us an email if you would like access and/or the ability to host your model on GovMind.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>818-644-0498</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p><a href="mailto:your-email@your-domain.com">govmind@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>