<section class="row">
    <article class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
      <div class="thumbnail">
            <img src="/images/cmon.png" alt="Cmon">
        <div class="panel-footer">
        <h3>Flight Delay Prediction</h3>
          <a class="btn btn-primary" href="/models/16">Use</a>
          <a class="glyphicon glyphicon-pencil" href="/models/16/edit">Edit</a>
          <a data-confirm="Are you sure?" class="glyphicon glyphicon-trash" rel="nofollow" data-method="delete" href="/models/16">Destroy</a>
        </div>
      </div>
    </div>
  <div class="container mt40">
<section class="row">
    <article class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
      <div class="thumbnail">
            <img src="/images/cmon.png" alt="Cmon">
        <div class="panel-footer">
        <h3>newwww</h3>
          <a class="btn btn-primary" href="/models/17">Use</a>
          <a class="glyphicon glyphicon-pencil" href="/models/17/edit">Edit</a>
          <a data-confirm="Are you sure?" class="glyphicon glyphicon-trash" rel="nofollow" data-method="delete" href="/models/17">Destroy</a>
        </div>
      </div>
    </div>

<br>



<br>
</div>
<br>
<br>
<br>





<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
    	<li><a href="/users/edit">Edit Profile</a></li>
    	<li><a href="/pages/about">About</a></li>
    	<li><a href="/pages/subscribe">Subscribe</a></li>
    	<li><a href="/pages/donate">Donate</a></li>
    	<li><a href="/pages/contribute">Help Us Build</a></li>
    </ul>
  </div>
</nav>

</article></section></div>

<script id="IntercomSettingsScriptTag">
  window.intercomSettings = {"email":"govmind@gmail.com","name":"jeremy admin","created_at":1438988821,"user_id":13,"app_id":"k0u4bj6b"};
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/k0u4bj6b';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>

</div></article></section>