<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
<h3>We turn terabytes local public insights into shared value. This is particularly true with vision and language: constants that connect us. The ultimate goal of GovMind is to let anyone tap into the aegis of open government.</h3>
<br>
<br>
<p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Fire Your Neuron</a></p>
<br>
<h3>Join the platform that hundreds of agencies use to connect.</h3>
<br>
<br>
<br>
<br>
<br>
<br>