<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
<h3>Artificial Intelligence for public services is not impossible. It's just difficult. That's why we want to pursue it. The ultimate goal of GovMind is to enable anyone to use the collective intelligence of open government. </h3>
</div>
</div>
</div>
