<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
<h3>Artificial Intelligence for public services is not impossible. It's just difficult. That's why we want to pursue it. The ultimate goal of GovMind is to let anyone use the aegis of open government.</h3>
<br>
<br>
<p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Fire Your Neuron</a></p>
<br>
<br>
<br>
<h3>Join the platform that hundreds of agencies use to connect.</h3>
</div>
</div>
</div>
<div class="container">     
           
  <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup>$</sup>free
                                <small>forever</small>
                        </div>
                        <div class="type">
                            Follower
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>Organizational Updates </li>
                            <li><i class="glyphicon glyphicon-time"></i>Newsletter </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="/users/sign_up" class="btn db-button-color-square btn-lg">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two one">
                    <div class="price">
                        <sup>$</sup>free
                                <small>forever</small>
                    </div>
                    <div class="type">
                        Individual
                    </div>
                    <ul>

                        <li><i class="glyphicon glyphicon-print"></i>Unlimited Predictions</li>
                        <li><i class="glyphicon glyphicon-cloud"></i>Host own models</li>
                        <li><i class="glyphicon glyphicon-time"></i>Natural Language Processing</li>
                        <li><i class="glyphicon glyphicon-stats"></i>Access to GovMind datasets</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="/users/sign_up" class="btn db-button-color-square btn-lg">Sign Up</a>
                    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                        <sup>$</sup>free
                                <small>forever</small>
                    </div>
                    <div class="type">
                        Organization
                    </div>
                    <ul>

                        <li><i class="glyphicon glyphicon-print"></i>Deep Learning Suite</li>
                        <li><i class="glyphicon glyphicon-camera"></i>Vision and Audio Recognition</li>
                        <li><i class="glyphicon glyphicon-time"></i>Batch Predictions</li>
                        <li><i class="glyphicon glyphicon-headset"></i>Dedicated Support</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="/users/sign_up" class="btn db-button-color-square btn-lg">Sign Up</a>
                    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-six">
                    <div class="price">
                        <sup>$</sup>free
                                <small>forever</small>
                    </div>
                    <div class="type">
                        Contributor
                    </div>
                    <ul>
                        <li><i class="glyphicons glyphicons-git-branch"></i>Work with AI and data science developers</li>
                        <li><i class="glyphicon glyphicon-time"></i>Community support for personal projects</li>
                        <li><i class="glyphicon glyphicon-trash"></i>Experiment with AI web services</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="/pages/contribute" class="btn db-button-color-square btn-lg">Contribute</a>
                    </div>
                </div>
                      </div>
            </div>
        </div>
            </div>

        </div>

    </div>
    </div>
