<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
<h3>Predicting things based on the experiences of similar governments is not impossible. It's just incredibly difficult. That's why we want to pursue it. The ultimate goal of GovMind is to enable any government to learn from the collective intelligence of other governments. </h3>
</div>
</div>