<div class="jumbotron">
	<div class="container-fluid">
	<div class="center">
<h3>We turn terabytes of open data into predictive machines. The ultimate goal of GovMind is to let anyone tap into the aegis of open government.</h3>
<br>
<br>
<p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Fire Your Neuron</a></p>
<br>
<br>
<br>
<h3>Join the platform that hundreds of agencies use to connect.</h3>
</div>
</div>
</div>