<h1>Donations</h1>
<p>GovMind has a policy that all donations only go to the upkeep of servers and web services. 

Processing video, images, and large datasets involves more computation than traditional services. Donations allow us to expand to more cases, improve accuracy, and provide a better experience for users such as yourself.</p>
