    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Privacy and Website Policies
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3> Privacy Policy </h3>
                <p> Govmind is committed to protecting the privacy and security of visitors to this website. Govmind does not collect personal information when you visit our website unless you choose to provide that information.  Outlined below is the Govmind online privacy policy. If you have questions about this policy, please let us know. <p2>
                <h3> Information Collected and Stored Automatically </h3>
                <p>When you visit Govmind, we may store some or all of the following: the Internet address from which you access Govmind, date and time, the Internet address of the website from which you linked to Govmind, the name of the file or words you searched, items clicked on a page, and the browser and operating system used.

				This information is used to measure the number of visitors to the various sections of our site and identify system performance or problem areas. We also use this information to help us develop the site, analyze patterns of usage, and to make the site more useful. This information is not used for associating search terms or patterns of site navigation with individual users. Govmind periodically deletes its Web logs. On occasion, Govmind may provide this information to third party entities it contracts with for the purposes of research analysis.</p1>
                <h3> Cookies </h3>
                <p>When you visit some websites, their web servers generate pieces of information known as cookies. Cookies are commonly used to recognize your computer in the future.

				Govmind uses per-session cookies to serve technical purposes, like providing seamless navigation through Govmind. These cookies do not permanently record data and they are not stored on your computer’s hard drive. Govmind’s session cookies are available only during an active browser session. When you close your browser, the session cookie disappears.

				Govmind also uses persistent cookies to be able to track the number of unique visitors to the site.

				Users can choose to disable cookies using their web browsers.  It will not affect their ability to search for, review and retrieve data on the site.</p1>
                <h3> Personal Information </h3>
                <p>Users are NOT required to provide any information to search, retrieve, download, filter and otherwise use the data available on Govmind.  If you choose to provide us with personal information—like filling out a form on Govmind to ask questions, request a dataset, etc. with an email address—we use that information to respond to your message, and to help get you the information you requested. Providing your email address is optional, except for submitting comments to blog posts, and your email address will not be published. We only share the information you give us with another government agency to assist in answering your questions and to better understand user needs for Govmind, or as otherwise required by law. Any email address provided in connection with your question or suggestion will not be publicly viewable on the website. Govmind never collects information or creates individual profiles for commercial marketing.

				In contacting Govmind with your questions and comments, you should NOT include additional personal information, especially Social Security numbers.

				For certain Govmind users who need access to administrative privileges in order to carry out Govmind functions in their roles as official representatives of federal, state, local or tribal governments or certain non-governmental organizations, Govmind collects additional information such as name, organization, job title, and business address, business telephone number and business email address.

				Govmind is NOT a Privacy Act System of Record. Submission of any information is voluntary, and the collection of email addresses for user accounts with administrative privileges is being done purely for the purpose of authentication.</p1>
                <h3> Online Comments </h3>
                <p>Any comments you provide are categorized as public information. Compilations of your comments may be provided to national leaders (without email address) and other individuals participating in Govmind efforts. Comments may also be made available online to the public with the name of the commenter but without the use of any email addresses.</p1>
                <h3> Moderation of Comments and Posts </h3>
                <p>Govmind enables you to post your opinion on discussion topics. We encourage you to share your thoughts as they relate to the topic being discussed. Your posts will be publicly visible; therefore, the site utilizes a moderation policy to ensure that your posts are appropriate and not harmful to others. We review and moderate posts according to the policy below. The views expressed in posts reflect those of the author and do not necessarily reflect the official views.

				We want to publish your posts, but we expect posts generally to be courteous and on the subject matter of this site. To that end, we have established the following policy.

				We reserve the discretion not to display posts that:

				centerontain obscene, indecent, or profane language;
				contain threats, or defamatory statements;
				contain hate speech directed at race, color, sex, sexual orientation, national origin, ethnicity, age, religion, or disability;
				reveal your own or others’ sensitive/personal information (e.g., Social Security numbers)
				contain information posted in violation of law, including libel, condoning or encouraging illegal activity, and revealing classified information, or posts that might affect the outcome of ongoing legal proceedings or
				promote or endorse services or products, including links to external commercial sites. (Note that non-commercial links that are relevant to the topic or another post are acceptable.)
				contain content that is off-topic, spam, or intended primarily to promote a link.
				Do not submit copyrighted, trademarked or other proprietary material in any form unless you clearly indicate that you have permission to do so. By submitting your posts or other work, you grant the government and anyone viewing the discussion forum web site irrevocable permission to copy, distribute, make derivatives, display or perform the poster’s work publicly and free-of-charge.

				To protect your privacy, please do not include information (e.g., an e-mail address or phone number) in the text of your comment that identifies you.</p1>
                <h3> Browser Information Collected on the Website</h3>
                <p>Ratings of datasets are collected to track the usefulness of certain datasets and improve the value of Govmind. Govmind does not gather, request, record, require, collect or track any Internet users’ personal information through these processes.</p1>
            </div>
        </div>
    </section>
