@import "bootstrap-sprockets"; 
@import "bootstrap";

.jumbotron {
	background-color: #333333;
	background-position: center;
	height: 500px;
	margin: 0px;
	  h1 {
    color: #fff;
    text-shadow: 0px 2px 3px #555;
  }
    h2 {
    font-family: 'Brandon Grotesque', Helvetica;
    font-weight: 200;
    line-height: 5px;
    color: #fff;
    text-shadow: 0px 2px 3px #555;
  }
      h3 {
    font-family: 'Brandon Grotesque', Helvetica;
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    color: #fff;
    text-shadow: 0px 2px 3px #555;
  };
}
.news-header, #news .news-header {
    padding-bottom: 20px;
    padding-top: 20px;
}

.thumbnail {
    border: 100;
    box-shadow: 1000;
}

.row {
	padding-top: 10px;
	h2{
	text-shadow: none;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333
	}
}


.widewrapper {
  width:100%;
  }

body {
  background-color: #E9EAED;
  color: #1A1A1A;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-nav > li > a {
	background-color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight:200;
  color: black;
}


body { padding-top: 80px}


.navbar-default {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #1E90FF;
  background-color: #FFFFFF;
  font-size: 30px;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
/* Padding - just for asthetics on Bootsnipp.com */
body { margin-top:20px; }

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}