<p>Copyright 2015</p>
<div class="center">
       <div class="fb-like" data-href="https://govmind.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
</div>